@import "tailwindcss";
@theme {
  --color-primmary: #EEEEEE; 
  --color-secondary: #000000; 
  --color-accent: #87a1c4; 
}

/* In your global CSS file (e.g., styles/globals.css) */
::-webkit-scrollbar {
    width: 8px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
    @apply bg-transparent; /* Tailwind utility for track background */
}

::-webkit-scrollbar-thumb {
    @apply bg-[#3d414d] rounded-full; /* Tailwind utility for thumb background and shape */
}